datasets/language_detection.csv
src/models/languiage_detection/config.json
src/models/languiage_detection/model.safetensors
src/models/languiage_detection/special_tokens_map.json
src/models/languiage_detection/tokenizer_config.json
src/models/languiage_detection/tokenizer.json
src/models/languiage_detection/vocab.txt
src/models_training/language_detection/logs/events.out.tfevents.1735558461.MariaSuarezQ.26144.0
src/models_training/language_detection/logs/events.out.tfevents.1735559359.MariaSuarezQ.26144.1
src/models_training/language_detection/results/checkpoint-99/config.json
src/models_training/language_detection/results/checkpoint-99/model.safetensors
src/models_training/language_detection/results/checkpoint-99/optimizer.pt
src/models_training/language_detection/results/checkpoint-99/rng_state.pth
src/models_training/language_detection/results/checkpoint-99/scheduler.pt
src/models_training/language_detection/results/checkpoint-99/special_tokens_map.json
src/models_training/language_detection/results/checkpoint-99/tokenizer_config.json
src/models_training/language_detection/results/checkpoint-99/tokenizer.json
src/models_training/language_detection/results/checkpoint-99/trainer_state.json
src/models_training/language_detection/results/checkpoint-99/training_args.bin
src/models_training/language_detection/results/checkpoint-99/vocab.txt
datasets/disease_nlp_eng.xlsx
datasets/disease_nlp_esp.xlsx
src/models_training/language_detection/logs/events.out.tfevents.1735643047.MariaSuarezQ.26144.2
src/models_training/language_detection/logs/events.out.tfevents.1735643701.MariaSuarezQ.26144.3
src/models_training/nlp_disease_classification_spanish/logs/events.out.tfevents.1735644391.MariaSuarezQ.11364.0
src/models_training/nlp_disease_classification_spanish/logs/events.out.tfevents.1735644512.MariaSuarezQ.11364.1
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/config.json
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/merges.txt
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/model.safetensors
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/optimizer.pt
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/rng_state.pth
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/scheduler.pt
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/special_tokens_map.json
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/tokenizer_config.json
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/tokenizer.json
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/trainer_state.json
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/training_args.bin
src/models_training/nlp_disease_classification_spanish/results/checkpoint-24/vocab.json
src/models/disease_classification_spanish_nlp/config.json
src/models/disease_classification_spanish_nlp/merges.txt
src/models/disease_classification_spanish_nlp/model.safetensors
src/models/disease_classification_spanish_nlp/special_tokens_map.json
src/models/disease_classification_spanish_nlp/tokenizer_config.json
src/models/disease_classification_spanish_nlp/tokenizer.json
src/models/disease_classification_spanish_nlp/vocab.json
src/models_training/nlp_disease_classification_english/results/checkpoint-24/config.json
src/models_training/nlp_disease_classification_english/results/checkpoint-24/model.safetensors
src/models_training/nlp_disease_classification_english/results/checkpoint-24/optimizer.pt
src/models_training/nlp_disease_classification_english/results/checkpoint-24/rng_state.pth
src/models_training/nlp_disease_classification_english/results/checkpoint-24/scheduler.pt
src/models_training/nlp_disease_classification_english/results/checkpoint-24/special_tokens_map.json
src/models_training/nlp_disease_classification_english/results/checkpoint-24/tokenizer_config.json
src/models_training/nlp_disease_classification_english/results/checkpoint-24/tokenizer.json
src/models_training/nlp_disease_classification_english/results/checkpoint-24/trainer_state.json
src/models_training/nlp_disease_classification_english/results/checkpoint-24/training_args.bin
src/models_training/nlp_disease_classification_english/results/checkpoint-24/vocab.txt
src/models_training/nlp_disease_classification_english/logs/events.out.tfevents.1735728716.MariaSuarezQ.25044.0
src/models_training/nlp_disease_classification_english/logs/events.out.tfevents.1735728794.MariaSuarezQ.25044.1
